Source: com.github.cjfloss.feedler
Section: x11
Priority: extra
Maintainer: Cleiton Floss <cleitonfloss@gmail.com>
Build-Depends: meson,
               debhelper (>= 8.0.0),
               valac (>= 0.26.1),
               libgranite-dev (>= 0.3.0),
               libgtk-3-dev (>= 3.12.0),
               libxml2-dev,
               libsqlite-dev,
               libnotify-dev,
               libunity-dev,
               desktop-file-utils,
               appstream-util,
               libglib2.0-dev (>= 2.30.0),
               libsoup2.4-dev (>= 2.26.0),
               libwebkit2gtk-4.0-dev (>= 2.0.0),

Standards-Version: 3.9.3
Package: com.github.cjfloss.feedler
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: RSS News Reader.
