[Desktop Entry]
Version=0.0.1
Type=Application
Name=Feedler
_GenericName=Feedler News Reader
_Comment=Download and view feeds
Categories=GTK;Network;News;
Exec=feedler
Icon=news-feed
Terminal=false
