[Desktop Entry]
Version=0.0.1
Type=Application
Name=Feedler
GenericName=Feedler News Reader
Comment=Download and view feeds
Categories=GTK;Network;News;
Exec=feedler
Icon=internet-feed-reader
Terminal=false
